<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olympics app></title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header id="site-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/events" class="navbar-brand">Olympics Events</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>
    <footer id="site-footer">
        Copyright &copy; 2018 Olympics
    </footer>
</body>
</html>